name: Build Android APK
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        uses: ScottSears/buildozer-action@v2.0
        with:
          python_version: 3.11
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Rania-Package
          path: bin/*.apk
