name: Build Android APK
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build with Buildozer
        uses: ArtemSerebriennikov/buildozer-action@v1.6.1
        with:
          buildozer_version: master
          python_version: 3.9

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Rania-Package
          path: bin/*.apk
